.banner{
    height: 500px;
    background: url('./../assets/agent.png');
    background-repeat: round;
}
#agent_form{
    display: none;
}
#agent_opt{
    display: none;
}

@media only screen and (min-width: 600px) and (max-width:1024px) {

    .banner{
        height: 350px;
    }
}
@media only screen and (max-width: 600px) {

    .banner{
        height: 250px;
    }
}