*{
    box-sizing: border-box; 
    font-family:'Times New Roman', Times, serif ;
    
}
.menu1 {
    margin: 7px 25px 5px 25px;
    align-items: center;
    text-align: center;
}
.menu2 {
    margin: 5px 25px 5px 25px;

    text-align: center;
    
}
a{
    text-decoration: none;
    color: #fafafa;
    /* font-weight: bold; */
    font-family: Lato, Arial, Helvetica, sans-serif, serif;
    /* font-size: 20px; */
}
.menu1 a{
    text-decoration: none;
    color: #fafafa;
    /* font-weight: bold; */
    font-family: Lato, Arial, Helvetica, sans-serif, serif;
    font-size: 20px;
}
.menu2 a{
    text-decoration: none;
    color: #fafafa;
    /* font-weight: bold; */
    font-family: Lato, Arial, Helvetica, sans-serif, serif;
    font-size: 20px;
}
.logo{
    text-align: center;
    color: #fafafa;
}
.header{
    background-color: #13A137;
    /* justify-content: center;
    text-align: center; */
}
.menu{
    justify-content: end;
    align-items: center;
}
.menu-btn{
    margin: 12px 10px;
}
.site-name h1{
    word-spacing: 4vw;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bolder;
    font-size: 3vw;
    color: #13A137;;
    margin-bottom: 0;
}
.footer{
    background: #1f1f1f;
}
.footer ul li{
    list-style: none;
    color: #d3d3d3;
}
.footer ul li a{
    color: #d3d3d3;
}
.v-center{
    align-items: center;
}

