.banner{
    height: 45vh;
    /* border: 2px solid black; */
    background: url('./../assets/How-to-Contact-Us.png');
    background-repeat: round;
}
.card{
    border-radius: 25px;
}
#p-type{
    display: none;
}
@media only screen and (max-width: 600px) {

    .banner{
        /* height: 35vh; */
        background: url('../assets/Contact\ Us\ \(Responsive\).jpg');
        background-repeat: round;
    }
}
