.banner{
    height: 45vh;
    /* border: 2px solid black; */
    background: url('./../assets/P.Policy.png');
    background-repeat: round;
}
.banner h1{
    margin: 18vh 100px;
}
.indent{
    margin-left: 25px;
}
@media only screen and (max-width: 600px) {

    .banner{
        /* height: 35vh; */
        background: url('../assets/Privacy\ Policy\ \(Responsive\).jpg');
        background-repeat: round;
    }
}